body {
  position: relative;
  min-height: 100vh;

  main {
    /* height: 80vh; */
    display: block;
    justify-content: center;
    align-items: center;
    z-index: -2;

    section {
      height: 80vh;
      place-content: center;
      
      h2 {
        display: grid;
        place-items: center;
        font-family: Work sans;
        font-weight: 300;
        font-size: clamp(.8rem, 2.5vw, 1.5rem);
      }
    }

    div:first-of-type {
      display: grid;
      grid-template-columns: 1fr;
      margin: 3rem 1rem;
      gap: 3rem;
    }

    article {
      padding: 2rem;
      display: grid;
      gap: 1rem;

      &:not(div article) {
        margin: 3rem 1rem;
        

        ol li{
          padding: 1rem 0;
        }
      }

      button {
        border: none;
        width: fit-content;
        padding: 1rem;
        background: rgba(255, 168, 216, 0.56);;
        border-radius: 15px;

        &:hover {
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 168, 216, 0.56);
            box-shadow: 0px 0px 10px 2px var(--color-1);

        }

        a {
            text-decoration: none;
            color: white;
        }
      }
    }

}
}

/* main {
  position: relative;
} */

/* .article-homepage {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  opacity: 0;
} */

.bullet-container {
  position: absolute;
  top: 0;    
  left: 0;
  will-change: transform;
  opacity: 0;
}

/* MARK: media queries */
/* @media (prefers-reduced-motion: reduce){
  
} */

@media (width > 800px) {
body {
  main {
    div:first-of-type {
      grid-template-columns: 1fr 1fr;
      margin: 3rem 15vw;
      gap: 3rem;
    }

    article {
        &:not(div article) {
          margin: 3rem 15vw;
        }
    }
  }
}

}

/* https://piccalil.li/blog/some-practical-examples-of-view-transitions-to-elevate-your-ui/ */
@view-transition {
	navigation: auto;
}

