

div {
    width: 100%;
    overflow: clip;
    display: grid;
    justify-content: center;

   

    ul {
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: 100vh;
        justify-content: start;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

         /* Scroll code */
   
        

        li {
            flex: 0 0 100%;
            scroll-snap-align: center;

            display: flex;
            justify-content: center;

        }
    }
}

article {
    width: min(80%, 900px);
    max-width: none;

    gap: 1rem;

    img {
        width: 100%;
        border-radius: 5px;
    }
}

