/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    position: relative;
    z-index: -5;
}

main {
    position: relative;
    z-index: -1;

    section {
        /* Hoogte bepalen voor de scroll animatie */
        height: 600vh; 
        position: relative;

        > div {
            /* Laten hangen van de section voor de scroll */
            position: sticky;
            top: 0;
            height: 100vh;
            overflow: hidden;
            display: flex;
            align-items: center;


            > ul {
                display: flex;
                flex-direction: row;

                height: 100vh;
                width: max-content;

                list-style-type: none;

                /* animatie */
                animation: horizontalScroll linear forwards;

                /* scroll koppelen aan de pagina */
                animation-timeline: scroll(root block);

                /* alleen binnen deze section */
                animation-range: 0% 100%;


                > li {
                    flex: 0 0 100vw;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin: 1rem;
            
                    animation: fadeIn linear both;
                    animation-timeline: scroll(root block);

                    &:nth-child(1){
                        animation: none;
                    }

                    /* animation range kan niet bij elkaar optellen */
                   &:nth-child(2) {
                        animation-range: 0% 25%;
                    }

                    &:nth-child(3) {
                        animation-range: 20% 35%;
                    }

                    &:nth-child(4) {
                        animation-range: 30% 50%;
                    }

                    &:nth-child(5) {
                        animation-range: 45% 65%;
                    }

                    &:nth-child(6) {
                        animation-range: 55% 80%;
                    }

                    &:nth-child(7) {
                        animation-range: 65% 95%;
                    }

                    &:nth-child(8) {
                        animation-range: 85% 100%;
                    }

                    

                    /* Iets donkerder ivm tekst */
                    &:nth-of-type(5) h2, &:nth-of-type(6) h2{
                            background-color: #1d0d24e3;
                    }


                    h2 {
                        position: absolute;
                        color: #fff;
                        top: 1rem;
                        left: 1rem;
                        text-shadow: grey 3px 5px 10px;
                        background: var(--background-label-opdrachten);
                        padding: 1rem;
                        border-bottom-right-radius: 15px;
                        border-top-left-radius: 15px;
                    }

                }
            }
        }

    }

}

/* Styling article */
article {
    width: clamp( 30vw, 100%, 55vw);
    height: stretch;

    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-rows: 1fr 5fr 15fr 1fr;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;

    iframe, img {
        width: 100%;
        
        aspect-ratio: 16 / 9;
        border-radius: 1rem;
    }

    div {
        display: grid;
        gap: .5rem;

        p {
            align-self: flex-start;
            font-size: clamp(16px, 1vw , 2rem);
        }
    }

    details {
        height: fit-content;
        padding: 1rem;
        border-radius: inherit;
        background: var(--background-article);

        h3 {
            margin: 1rem 0;
        }
    }



}

/* MARK: mediaqueries */

@media (width < 700px) {
    article {
        width: fit-content;
        margin: 1rem;

        .button-sites {
            
            li  {
                padding: .9rem;
                display: block;
            a {
                font-size: .8rem;
            }
            }
    }
}
}

@media (prefers-reduced-motion: reduce) {
    main{
        section{
            >div{
                >ul{
                     li {
                         animation: none;
                     }
                }
            }
        }
    } 
}


/* MARK: keyframes */

@keyframes horizontalScroll {
    from {
        transform: translateX(0);
    }

    to {
        /*
        aantal slides - 1
        jij hebt 6 li's
        dus 5 schermen bewegen
        */
        transform: translateX(-775vw);
    }
}

@keyframes fadeIn {
      0% {
        opacity: 0;
        scale: .5;
    }

    50% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: .5;
    }
}


/* https://piccalil.li/blog/some-practical-examples-of-view-transitions-to-elevate-your-ui/ */
@view-transition {
	navigation: auto;
}