* {
  margin: 0;
  padding: 0;
}

:root {

  /* COLORS */
  color-scheme: light dark;
  --header-color: light-dark(#000, #000000) ;
  --text-color: light-dark(#000, #fff);
  --color-1: light-dark( rgba(255, 168, 216), #80399b);
  --background-color: linear-gradient(45deg, var(--blob-color-1), white);

  /* BLOB COLORS */
  --blob-color-1:light-dark( #9e59b9, #80399b);
  --blob-color-2:light-dark( #3a8b83,#5ab6ad);
  --blob-color-3:light-dark( rgb(223, 46, 140), deeppink);

  /* ARTICLE COlORS */
  --background-article: rgba(250, 98, 181, 0.239);
  --border-article: rgba(254, 128, 197, 0.56);

  /* HEADER COLORS */
  --background-header: rgba(255, 168, 216, 0.239) ;
  --border-header: rgba(255, 168, 216, 0.56); 

  /* TEXT SIZE */
  --regular-text-size: 1rem;
  --h1-text-size: clamp(80%, 8vw, 10rem);
  --h2-text-size: 1.75rem;
  --h3-text-size: 1.5rem;

  /* PADDIN?g MARGIN SIZE */
  --padding-size: 1rem;

  /* FONTS */
  --font-headers: Fugaz one, Impact, Marker Felt, Verdana;
}


/* INSERTING FONTS */
@font-face {
  /* https://www.1001fonts.com/fugaz-one-font.html */
  font-family: Fugaz one;
  src: url(/fonts/fugaz-one.regular.ttf) ;
}

@font-face {
  /* https://fonts.google.com/specimen/Work+Sans */
  font-family: "Work sans";
  src: url(/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@font-face/font-display */
  font-display: swap;
}

@media(prefers-color-scheme: dark){
    :root {
        --background-color: 
      linear-gradient(45deg, var(--blob-color-1), black);
    }
}



/* BASIC STYLING */
body {
  font-family: Work sans;
  background: var(--background-color);
  mix-blend-mode: multiply(1);
}

header {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: fit-content;
    justify-self: center;
    padding: var(--padding-size) 2vw;

    border: 1px solid var(--color-1);
    border-radius: 20px;
    margin: 1rem 0;


    background: var(--background-article);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 168, 216, 0.56);
    box-shadow: 0px 0px 10px 2px var(--color-1);



    a {
      text-decoration: none;
      padding: 0 2vw;
      color: var(--text-color);
    }
  }
}

main {
  display: flex;
  


  h1 {
  font-family: var(--font-headers);
  color: var(--header-color);
  font-size: var(--h1-text-size);
  /* overflow-wrap: break-word; */
  text-transform: uppercase;
  text-shadow: 0px 0px 0 var(--blob-color-1), 3px -1px 0 var(--color-1), -1px 1px 0 var(--text-color),
    1px 1px 0 var(--text-color);
  text-align: center;
}

}


article {
  background: var(--background-article);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--border-article);
  box-shadow: 0px 0px 10px 2px var(--color-1);



    .button-sites {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        align-items: end;
        
        li {
            width: fit-content;
            padding: 1rem;
            background: var(--border-article);
            border-radius: 15px;

            &:hover {
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid var(--border-article);
                box-shadow: 0px 0px 10px 2px var(--color-1);

            }

            a {
                text-decoration: none;
                color: white;
            }
        }

    }
}





/* Mouse follow  */

.mouse-div {
    z-index: 9999;
    position: fixed; /* fixed ipv absolute, volgt de viewport */
    pointer-events: none; /* zodat hij je andere elementen niet blokkeert */
    top: 0;
    left: 0;

  &::before {
    content: " ";
    display: block;
    width: .5rem;
    aspect-ratio: 1/2;
    background-color: var(--blob-color-3);
    box-shadow: 0px 0px 10px 2px var(--blob-color-3);
    border-radius: 100% / 100%;
    corner-shape: scoop;
  }
}