html {
  position: relative;
}

/* https://css-irl.info/css-halftone-patterns/ */
body {


  &::after {
    content: " ";
    min-height: 100%;
    position: absolute;
    inset: 0; 
    /* background-image: radial-gradient(circle at center, var(--blob-color-2) 0.06rem, transparent .65rem), radial-gradient(circle at center, var(--blob-color-2) 0.06rem, transparent 0.65rem);; */
    background-repeat: round;
    background-position: 0 0, 0.65rem 0.65rem;
    background-size: 1.3rem 1.3rem;

    mask-image: linear-gradient( rgb(0 0 0 / 0), rgb(0 0 0));
    z-index: -1;
  }

}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 5rem 1rem;

  h1{
    margin: 2rem 0;
  }

  
}


article {
  display: flex;
  flex-direction: column;

  /* border: solid 1px #b1b1b1; */
  border-radius: 2rem;
  padding: var(--padding-size);

  max-width: 30rem;
  margin: 2rem .5rem;

  color: var(--text-color);
  
  p:first-of-type {
    font-style: italic;
  }

  p:first-of-type ~ p {
    margin-top: 1rem;
  }

  ul li {
    margin-left: 1rem;
    /* list-style-type: none;

    &::before {
      content: " ";
      display: inline-block;
      width: .5rem;
      aspect-ratio: 1/2;
      background-color: var(--blob-color-3);
      box-shadow: 0px 0px 10px 2px var(--blob-color-3);
      border-radius: 100% / 100%;
      corner-shape: scoop;
      margin:0 .5rem;
    } */
  }

  &:hover {
     box-shadow: 0px 0px 20px 5px var(--color-1);
  }
}


/* Animatie bij groter scherm */
@media (width > 700px) {

  main {
    margin-bottom: 5rem;

    section:nth-of-type(2){
      display: grid;
      grid-template-columns: repeat(2,1fr);
      position: relative;
      gap: 1rem;
      margin: 0 10rem;
  }
  }

/* Julius heeft mij hierbij geholpen */
@supports (animation-timeline:scroll()){
  section:nth-of-type(2){
    overflow: clip;

    section:nth-of-type(2) .scroll-animation:nth-of-type(2){
      transform: translateY(0);
    }

  }
}

section:nth-of-type(2) .scroll-animation:nth-of-type(2){
  animation: moveArticles linear forwards;
  animation-timeline: scroll(root block);
}


@keyframes moveArticles{
  from {
    transform: translateY(0);
  } to {
    /* Deze aanpassen als iet bij de rechter kolom weg valt en dan de linker waarde*/
    transform: translateY(calc(0% - 100vh));
  }
}
}


/* https://piccalil.li/blog/some-practical-examples-of-view-transitions-to-elevate-your-ui/ */
@view-transition {
	navigation: auto;
}
