html {
  position: relative;
}

/* https://css-irl.info/css-halftone-patterns/ */
body {
  background: linear-gradient(45deg, var(--blob-color-1), var(--blob-color-3));
  mix-blend-mode: multiply(1);

  &::after {
    content: " ";
    min-height: 100%;
    position: absolute;
    inset: 0; 
    background-image: radial-gradient(circle at center, var(--blob-color-2) 0.06rem, transparent .65rem), radial-gradient(circle at center, var(--blob-color-2) 0.06rem, transparent 0.65rem);;
    background-repeat: round;
    background-position: 0 0, 0.65rem 0.65rem;
    background-size: 1.3rem 1.3rem;

    mask-image: linear-gradient( rgb(0 0 0 / 0), rgb(0 0 0));
    z-index: -1;
  }

}

main {
  display: flex;
  flex-direction: column;
  place-items: center;


}

header {

  nav{
    background-color: white;
  }
}

article {
  display: flex;
  flex-direction: column;

  /* border: solid 1px #b1b1b1; */
  border-radius: 2rem;
  padding: var(--padding-size);

  max-width: 30rem;
  margin: 1rem .5rem;


  background: rgba(255, 168, 216, 0.239);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 168, 216, 0.56);
  box-shadow: 0px 0px 10px 2px var(--color-1);
  
  p:first-of-type {
    font-style: italic;
  }

  p:first-of-type ~ p {
    margin-top: 1rem;
  }
}
